    /*
    Name: Roberto Sanchez
    Date: Apr 26, 2017
    File: master.css
    Purpose: Sets up basic layout of the website from the header and footer to the navigation bar setup.

*/
    /**********************************************
    Navigation Bar CSS
***********************************************/
    
    .topnav {
        background-color: #333;
        overflow: hidden;
        text-align: center;
        list-style: none;
        width:100%;

    }
    
    .topnav a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 0.875em 1.0em;
        text-decoration: none;
        font-size: 1.063em;
        display: inline-block;
        width: 9.2em;
        margin: 0 auto;
    }
    
    .topnav ul {
        list-style-type: none;
    }
    
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }
    /**********************************************
    Header CSS
***********************************************/
    
    header {
        padding: 1em;
        color: #f2f2f2;
        background-color: white;
        clear: left;
        text-align: center;
    }
    
    #logoImg {
        width: 8.125em;
        height: 7em;
    }
    
    #site-title {
        text-align: center;
        display: inline-block;
    }
    
    #site-title a {
        color: #333;
        text-decoration: none;
    }
    /**********************************************
    Body CSS
***********************************************/
    
    body {
        margin: 0 auto;
        font-family: Calibri, sans-serif;
    }
    
    #Wrapper {
        background-color: pink;
    }
    /**********************************************
    Footer CSS
***********************************************/
    
    footer {
        padding: 1em;
        color: #f2f2f2;
        background-color: #333;
        clear: left;
        text-align: center;
    }
